################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dapr-traffic-control/FileContentIndex
/.vs/dapr-traffic-control/v17
/.vs
